@import "tailwindcss";

/* Mobile */
@media (max-width:500px) {

	header,
	.my-project,
	.projects-container,
	.footer-wrapper
	{
		@apply p-10;
	}

	.header-section {
		@apply flex flex-col ;
	}

	.portrait {
		@apply flex justify-center;
	}


	.about-section {
		@apply items-center p-5 mt-5;
	}

	.about-section>nav {
		@apply self-center;
	}


	.my-project {
		text-align: center;
		margin-top: 10rem;
	}

	.projects-container {
		@apply grid grid-cols-1 ;
	}

	footer {
		@apply flex flex-col  mt-30;
	}

	footer>section>h2 {
		text-align: center;
	}

	.footer-wrapper {
		@apply flex-col;
	}


}

/* Tablet */
@media (min-width: 500px) and (max-width: 1000px) {

	header,
	.my-project,
	.projects-container,
	.footer-wrapper
	{
		@apply p-10;
	}

	.projects-container {
		@apply grid grid-cols-2;
	}


	.my-project {
		@apply mb-5 text-3xl;
	}

	.header-section {
		@apply flex-col;
	}

	.portrait {
		@apply left-0 top-0 z-11;
	}

	.about-section {
		@apply max-w-full items-center;
	}



}

@media (min-width:1000px) {

	header,
	.my-project,
	.projects-container,
	.footer-wrapper
	{
		@apply p-10;
	}

	footer {
		@apply mt-20 ;
	}

	.footer-wrapper {
		@apply flex-row justify-between;
	}

}
